<div class="page-header">
	<h1><%= title "Latte | The tasty coffee for everything designers", :sitename => false %></h1>
</div>
<p>Latte is a quick and dirty implementation of the Product Design Document (PDD) concept. It helps designers produce PDD automagically.</p>

<p>PDD is a new way of organizing design documents. It combines User Cases, Flowcharts and Wireframes altogether beautifully. The concept is developed and introduced to public by Felix Ding. Check out <%= link_to "http://dingyu.me/blog/product-design-document" %> for more information.</p>

<p>The icon is from <%= link_to "http://www.iconfinder.com/icondetails/49740/128/coffee_drink_food_icon" %></p>