@import "variables";

body {
	font: 12px / 150% "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
	margin: 0;
	padding: 20px;
	width: 920px;
	color: $color_body;
}

a {
	color: $color_green;
	text-decoration: none;
	
	&:hover, &.current {
		text-decoration: underline;
	}

	img {
		border: none;
	}		
}

.hidden {
	display: none;
}

.last-child {
	border: none !important;
}

h1, h2, h3, h4 {
	font-weight: normal;
	line-height: 1.2;
	-webkit-font-smoothing: antialiased;
}

h1 a {
	color: black;
}

#header {
	/*margin-bottom: 30px;
	padding-bottom: 10px;
	border-bottom: 2px solid #eee;*/
	
	background: #EEE;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	border-bottom: 1px solid #CCC;
	overflow: hidden;

	#logo {
		font-size: 1.5em;
		line-height: 100%;
		margin: 0;
		float: left;
		overflow: hidden;
		width: 400px;
		
		a {
			color: $color_green;
			margin: 0;
			float: left;
		}

		#slogan {
			margin-left: 1px;
			margin-top: 3px;
			padding-left: 6px;
			border-left: 1px solid $color_blue;
			color: $color_blue;
			font-size: 0.8em;
			float: left;
		}
	}
	
	#navigation {
		float: left;
		margin-left: 0px;
	}
	
	#user-bar {
		float: right;
		
		a {
			color: #888;
			
			&.current {
				background: #888;
				color: white;
				text-decoration: none;
			}			
		}
	}
	
	a {
		color: black;
		margin-left: 10px;
		padding: 2px 4px;
		
		&.current {
			background: #777;
			color: white;
			text-decoration: none;
		}
	}
	
	.wrapper {
		width: 940px;
		padding: 10px 20px;
		overflow: hidden;
	}
}

#wrapper {
	margin: 30px 0 0;
	padding: 0;
	overflow: hidden;
	
	.primary {
		float: left;
		width: 580px;
		margin-right: 50px;
	}

	.secondary {
		float: left;
		border-left: 1px solid #ccc;
		width: 280px;
		padding-left: 9px;
	}
	
	.fluid {
		overflow: hidden;
	
		.primary {
			float: left;
			width: 280px;
			margin-left: -100%;
			border-right: 1px solid #CCC;
		}
	
		.secondary {
			float: left;
			width: 100%;
			border-left: none;
			
			.wrapper {
				padding: 0 20px;
				margin-left: 280px;
			}
		}
	}
}

#footer {
	margin: 30px 0 10px;
	color: #666;
	line-height: 1em;

	p {
		padding: 0;
		margin: 0;
	}
}

.even1 {
	background: #3C3C3C;
	color: #EEE;
}