// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.Static {
	.Index {
		#wrapper {
			width: 920px;
		}

		p {
			font-size: 14px;
			line-height: 1.5em;
		}
	}
}

div.body {
	a img, img {
		border: 3px solid #ddd;
	}
}